/* 
-> style for a possible button (- not sure - 2 be implemented)
.defaultButton {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 70px;
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    background: #162B9E;
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 0 3px #414144;
} */

* {
    padding: 0;
    margin: 0 auto;
}

/* -> define general styles of elements */
.defaultFont {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 33px;
}
.defaultLinkFont {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 33px;
    color: #FFFFFF;
}
.defaultFooterLink {
    width: 60px;
    height: 16px;
    top: 5px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 5px;
    text-decoration: none;
    color: #CACACA;
}
.defaultHr {
    z-index: 1;
    position: absolute;
    margin-left: 20px;
    margin-top: 75px;
    width: 320px;
    height: 2px;
    background-color: #414144;
    border: none;
    border-radius: 10px;
}
.pageDot {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 166px;
    bottom: 20px;
    border-radius: 20px;
    background-color: #414144;
}
.socialMediaImage {
    flex: 1;
    width: 28px;
    height: 28px;
}
/* ->/ */

/* -> define general header related styles */
.headerColor {
    width: 100%;
    height: 5%;
    background: #414144;
    opacity: 0;
}
.headerColor:hover {
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;    
}
/* --> define general dropdown related styles */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #414144;
    min-width: 150px;
    right: -4px;
    border-radius: 2px;
    box-shadow: 0 0 2px #414144;
}
.dropdownLink {
    display: block;
    padding: 10px 15px;
    color: #FFFFFF;
    text-decoration: none;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 33px;
    font-size: 16px;
}
/* -->/ */
/* ->/ */

/* mobile screen (w360px X h--px) */
/* -> background related styles */
body{ 
    position: absolute;
    width: 360px;
    height: 100%;
}
#background-gradient {
    height: 1830px;
    background: linear-gradient(150deg, #000000 60%, #162B9E 75%, #2c0259 110%);
}
/* ->/ */

/* -> header related styles */
#logo-container {
    position: absolute;
    width: 180px;
    height: 54px;
    margin-left: 20px;
    top: 20px;
}
#img-logo {
    width: 100%;
    height: 100%;
}
#dropdown-container {
    position: absolute;
    list-style-type: none;
    width: 30px;
    height: 25px;
    right: 20px;
    top: 37px;
}
#dropdown-container:hover .dropdownContent {
    display: block;
}
#dropdown-img {
    width: 30px;
    height: 25px;
}
/* ->/ */

/* -> about us related styles */
#abtUs-container {
    margin-top: 100px;
    width: 320px;
    padding-left: 10px;
    color: #fff;
}
#abtUs-tittle {
    font-size: 30px;
}
#abtUs-paragraph {
    margin-top: 30px;
    line-height: normal;
    font-size: 15px;
}

/* -> news related styles */
#news-container {
    z-index: 1;
    position: absolute;
    width: 350px;
    height: 480px;
    margin-left: 10px;
    top: 640px;
    background: #F5F5F5;
    border-radius: 10px 0px 0px 10px;
}
#news-text {
    position: absolute;
    width: 130px;
    height: 33px;
    left: 20px;
    top: 20px;
    font-size: 30px;
}
#constructionIcon-container {
    position: absolute;
    margin-left: 10px;
    margin-top: 35%;
    width: 320px;
    height: 262.35px;
}
#constructionIcon{
    width: 100%;
    height: 100%;
}
/* ->/ */

/* -> app related styles */
#solutions-container {
    position: absolute;
    margin-top: 768px;
    background: #414144;
    border-radius: 10px;
    width: 360px;
    height: 560px;
    border-radius: 0px;
}
#solutions-text {
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
    width: 130px;
    height: 33px;
    font-size: 30px;
    color: #FFFFFF;
}
#solutions-hr {
    background-color: #FFFFFF;
}
#logotype-text {
    position: absolute;
    width: 230px;
    margin-left: 85px;
    margin-top: 116px;
    display: flex;
    align-items: center;
    font-size: 50px;
    text-align: center;
    line-height: 56px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
#solutions-tittle {
    position: absolute;
    margin-left: 20px;
    margin-top: 60%;
    width: 315px;
    height: 192px;
    font-size: 24px;
    color: #FFFFFF;
}
/* ->/ */

/* -> styles for additional info */
footer {
    width: 100%;
    height: 68px;
    background: #414144;
}
#socialMedia-container {
    position: absolute;
    display: flex;
    width: 66px;
    height: 28px;
    right: 20px;
    margin-top: 20px;
}
/* --> idiom related styles */
#idiom-container {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: 96px;
    height: 28px;
}
#idiom-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 20px;
}
#idiom-text {
    position: absolute;
    width: 48px;
    height: 20px;
    margin-left: 53px;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
/* -->/ */
/* ->/ */

/* responsive screens (2 be implemented) */
/* mobile screen (w480px X h--px) */
@media (min-width: 361px) {

}

/* tablet screen (w768px X h--px) */
@media (min-width: 481px) {

}

/* desktop screen (w1920px X h--px) */
@media (min-width: 100px) {

}
